workflows/shopify-bfsg-lead-finder.json
{
  "name": "Shopify BfSG – Lead Finder (Step 1)",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-e0f1a2b3c4d5",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 80],
      "parameters": {
        "width": 680,
        "height": 260,
        "color": 5,
        "content": "## Shopify BfSG – Lead Finder (Step 1)\n\nSearches Google for German Shopify stores, deduplicates results, and writes raw leads to Google Sheets.\nA second workflow will evaluate each lead for BfSG compliance.\n\n### Required n8n Variables (Settings → Variables)\n\n| Variable | Description | Where to get it |\n|---|---|---|\n| `SERP_API_KEY` | Google search via SerpAPI | [serpapi.com](https://serpapi.com) – free: 100 searches/month |\n| `GOOGLE_SHEET_ID` | Target spreadsheet | From Sheet URL: `spreadsheets/d/{ID}/edit` |\n\n### Google Sheet Setup\nCreate a sheet tab named **Leads** with these column headers (row 1):\n`Company Name` · `Domain` · `URL` · `Description` · `Search Query` · `Date Found`\n\nConnect a **Google Sheets OAuth2 credential** to the *Append to Google Sheets* node."
      }
    },
    {
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-f1a2b3c4d5e6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 420],
      "parameters": {}
    },
    {
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-a2b3c4d5e6f7",
      "name": "Define Search Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 420],
      "parameters": {
        "jsCode": "// Search queries that target German Shopify stores.\n// Varying the phrasing increases the number of unique domains found.\nconst queries = [\n  '\"powered by shopify\" site:.de',\n  '\"powered by shopify\" impressum site:.de',\n  'shopify online shop deutschland impressum site:.de',\n  'shopify shop site:.de -myshopify.com'\n];\n\nreturn queries.map((query, idx) => ({ json: { query, idx } }));"
      }
    },
    {
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-b3c4d5e6f7a8",
      "name": "SerpAPI: Search Shopify Stores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 420],
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q",       "value": "={{ $json.query }}" },
            { "name": "api_key", "value": "={{ $vars.SERP_API_KEY }}" },
            { "name": "engine",  "value": "google" },
            { "name": "gl",      "value": "de" },
            { "name": "hl",      "value": "de" },
            { "name": "num",     "value": "100" }
          ]
        },
        "options": { "continueOnFail": true }
      }
    },
    {
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-c4d5e6f7a8b9",
      "name": "Parse & Filter Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 420],
      "parameters": {
        "jsCode": "const response = $input.item.json;\n\n// Domains that are platforms or directories, not individual stores\nconst SKIP_DOMAINS = [\n  'myshopify.com', 'shopify.com', 'reddit.com', 'youtube.com', 'wikipedia.org',\n  'twitter.com', 'facebook.com', 'instagram.com', 'linkedin.com', 'xing.com',\n  'google.com', 'amazon.de', 'ebay.de', 'otto.de', 'zalando.de',\n  'shopify-brands.de', 'shopify-agentur', 'ionos.de', 'strikingly.com',\n  'trustpilot.com', 'yelp.de', 'tripadvisor.de', 'gmbh-verzeichnis.de'\n];\n\nconst items = [];\nconst seen = new Set();\n\nfor (const result of (response.organic_results || [])) {\n  if (!result.link) continue;\n  try {\n    const u = new URL(result.link);\n    const domain = u.hostname.replace(/^www\\./, '');\n    if (!domain.endsWith('.de')) continue;\n    if (SKIP_DOMAINS.some(s => domain.includes(s))) continue;\n    if (seen.has(domain)) continue;\n    seen.add(domain);\n    items.push({\n      json: {\n        company_name: result.title || domain,\n        domain,\n        url: `https://${domain}`,\n        description: result.snippet || '',\n        search_query: response.search_parameters?.q || ''\n      }\n    });\n  } catch (_) {}\n}\n\nreturn items.length ? items : [{ json: { _skip: true } }];"
      }
    },
    {
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-d5e6f7a8b9c0",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1080, 420],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "leads",
        "options": {}
      }
    },
    {
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-e6f7a8b9c0d1",
      "name": "Deduplicate Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 420],
      "parameters": {
        "jsCode": "const all = $input.item.json.leads || [];\nconst seen = new Set();\nconst unique = [];\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const lead of all) {\n  if (lead._skip || !lead.domain) continue;\n  if (seen.has(lead.domain)) continue;\n  seen.add(lead.domain);\n  unique.push({ ...lead, date_found: today });\n}\n\nconsole.log(`${unique.length} unique leads found`);\nreturn unique.map(l => ({ json: l }));"
      }
    },
    {
      "id": "b4c5d6e7-f8a9-4b0c-1d2e-f3a4b5c6d7e8",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1520, 420],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name":  "={{ $json.company_name }}",
            "Domain":        "={{ $json.domain }}",
            "URL":           "={{ $json.url }}",
            "Description":   "={{ $json.description }}",
            "Search Query":  "={{ $json.search_query }}",
            "Date Found":    "={{ $json.date_found }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Define Search Queries", "type": "main", "index": 0 }]]
    },
    "Define Search Queries": {
      "main": [[{ "node": "SerpAPI: Search Shopify Stores", "type": "main", "index": 0 }]]
    },
    "SerpAPI: Search Shopify Stores": {
      "main": [[{ "node": "Parse & Filter Results", "type": "main", "index": 0 }]]
    },
    "Parse & Filter Results": {
      "main": [[{ "node": "Aggregate All Results", "type": "main", "index": 0 }]]
    },
    "Aggregate All Results": {
      "main": [[{ "node": "Deduplicate Leads", "type": "main", "index": 0 }]]
    },
    "Deduplicate Leads": {
      "main": [[{ "node": "Append to Google Sheets", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9e5f3b2-8a4c-4e6d-9f1b-2c3d4e5f6a7b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "shopify-bfsg-finder"
  },
  "id": "shopify-bfsg-lead-finder-v1",
  "tags": [
    { "id": "tag-bfsg",    "name": "BfSG Compliance" },
    { "id": "tag-shopify", "name": "Shopify" }
  ]
}
