workflows/shopify-bfsg-lead-finder.json
{
  "name": "Shopify BfSG – Lead Finder (Step 1)",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-e0f1a2b3c4d5",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 80],
      "parameters": {
        "width": 660,
        "height": 240,
        "color": 5,
        "content": "## Shopify BfSG – Lead Finder (Step 1)\n\nDiscovers German Shopify stores via Google (SerpAPI), deduplicates them, and writes raw leads to Google Sheets.\nEmail lookup and BfSG compliance evaluation happen in a **separate Step 2 workflow**.\n\n### What this workflow checks\n- Only `.de` domains are kept\n- Known platforms, marketplaces, and directories are filtered out\n- Duplicates (same domain) are removed\n- 5 queries are randomly selected each run from an industry pool, so every run finds different stores\n\n### Google Sheet\nLeads tab columns: `Company Name` · `Domain` · `URL` · `Description` · `Date Found`\n\nConnect a **Google Sheets OAuth2 credential** to the *Append to Google Sheets* node."
      }
    },
    {
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-f1a2b3c4d5e6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400],
      "parameters": {}
    },
    {
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-a2b3c4d5e6f7",
      "name": "Pick Random Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400],
      "parameters": {
        "jsCode": "// Large pool of industry-specific queries so every run discovers different stores.\n// 5 are picked at random each execution.\nconst QUERY_POOL = [\n  '\"powered by shopify\" site:.de',\n  '\"powered by shopify\" impressum site:.de',\n  '\"powered by shopify\" mode site:.de',\n  '\"powered by shopify\" fashion site:.de',\n  '\"powered by shopify\" sport site:.de',\n  '\"powered by shopify\" outdoor site:.de',\n  '\"powered by shopify\" kosmetik site:.de',\n  '\"powered by shopify\" beauty site:.de',\n  '\"powered by shopify\" schmuck site:.de',\n  '\"powered by shopify\" wohnen site:.de',\n  '\"powered by shopify\" möbel site:.de',\n  '\"powered by shopify\" haustier site:.de',\n  '\"powered by shopify\" baby site:.de',\n  '\"powered by shopify\" küche site:.de',\n  '\"powered by shopify\" lebensmittel site:.de',\n  '\"powered by shopify\" elektronik site:.de',\n  '\"powered by shopify\" gaming site:.de',\n  '\"powered by shopify\" gesundheit site:.de',\n  '\"powered by shopify\" fitness site:.de',\n  '\"powered by shopify\" handwerk site:.de',\n  'shopify shop site:.de -myshopify.com',\n  'shopify online shop deutschland site:.de'\n];\n\n// Shuffle and pick 5 so each run finds a different mix\nconst shuffled = QUERY_POOL.slice().sort(() => 0.5 - Math.random());\nreturn shuffled.slice(0, 5).map((query, idx) => ({ json: { query, idx } }));"
      }
    },
    {
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-b3c4d5e6f7a8",
      "name": "SerpAPI: Search Shopify Stores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 400],
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q",       "value": "={{ $json.query }}" },
            { "name": "api_key", "value": "971ff713ed5b6b2b7ce90445dfa5116ddcebf00ad48791ff045d72a1c48977ba" },
            { "name": "engine",  "value": "google" },
            { "name": "gl",      "value": "de" },
            { "name": "hl",      "value": "de" },
            { "name": "num",     "value": "100" }
          ]
        },
        "options": { "continueOnFail": true }
      }
    },
    {
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-c4d5e6f7a8b9",
      "name": "Parse & Filter Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 400],
      "parameters": {
        "jsCode": "const response = $input.item.json;\n\n// Skip known platforms, marketplaces, directories and social networks\nconst SKIP_DOMAINS = [\n  'myshopify.com', 'shopify.com', 'reddit.com', 'youtube.com', 'wikipedia.org',\n  'twitter.com', 'facebook.com', 'instagram.com', 'linkedin.com', 'xing.com',\n  'google.com', 'amazon.de', 'ebay.de', 'otto.de', 'zalando.de',\n  'trustpilot.com', 'yelp.de', 'tripadvisor.de', 'ionos.de', 'wix.com'\n];\n\nconst items = [];\nconst seen = new Set();\n\nfor (const result of (response.organic_results || [])) {\n  if (!result.link) continue;\n  try {\n    const u = new URL(result.link);\n    const domain = u.hostname.replace(/^www\\./, '');\n    if (!domain.endsWith('.de')) continue;\n    if (SKIP_DOMAINS.some(s => domain.includes(s))) continue;\n    if (seen.has(domain)) continue;\n    seen.add(domain);\n    items.push({\n      json: {\n        company_name: result.title || domain,\n        domain,\n        url: `https://${domain}`,\n        description: result.snippet || '',\n        search_query: response.search_parameters?.q || ''\n      }\n    });\n  } catch (_) {}\n}\n\nreturn items.length ? items : [{ json: { _skip: true } }];"
      }
    },
    {
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-d5e6f7a8b9c0",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1080, 400],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "leads",
        "options": {}
      }
    },
    {
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-e6f7a8b9c0d1",
      "name": "Deduplicate Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400],
      "parameters": {
        "jsCode": "const all = $input.item.json.leads || [];\nconst seen = new Set();\nconst unique = [];\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const lead of all) {\n  if (lead._skip || !lead.domain) continue;\n  if (seen.has(lead.domain)) continue;\n  seen.add(lead.domain);\n  unique.push({ ...lead, date_found: today });\n}\n\nconsole.log(`${unique.length} unique leads to write`);\nreturn unique.map(l => ({ json: l }));"
      }
    },
    {
      "id": "b4c5d6e7-f8a9-4b0c-1d2e-f3a4b5c6d7e8",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1520, 400],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ArHjCRPpyTiPTmfkuiuc6KKt-vQxS7KPN_DvjJJlvrQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.company_name }}",
            "Domain":       "={{ $json.domain }}",
            "URL":          "={{ $json.url }}",
            "Description":  "={{ $json.description }}",
            "Date Found":   "={{ $json.date_found }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Pick Random Queries", "type": "main", "index": 0 }]]
    },
    "Pick Random Queries": {
      "main": [[{ "node": "SerpAPI: Search Shopify Stores", "type": "main", "index": 0 }]]
    },
    "SerpAPI: Search Shopify Stores": {
      "main": [[{ "node": "Parse & Filter Results", "type": "main", "index": 0 }]]
    },
    "Parse & Filter Results": {
      "main": [[{ "node": "Aggregate All Results", "type": "main", "index": 0 }]]
    },
    "Aggregate All Results": {
      "main": [[{ "node": "Deduplicate Leads", "type": "main", "index": 0 }]]
    },
    "Deduplicate Leads": {
      "main": [[{ "node": "Append to Google Sheets", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "g2h8i6j4-1k3l-4m5n-6o7p-8q9r0s1t2u3v",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "shopify-bfsg-finder" },
  "id": "shopify-bfsg-lead-finder-v1",
  "tags": [
    { "id": "tag-bfsg",    "name": "BfSG Compliance" },
    { "id": "tag-shopify", "name": "Shopify" }
  ]
}
